@model StalkAndStrikeApp.Models.Hunter

<h2>Add New Hunter</h2>

<form method="post">
    <div class="form-group">
        <label for="Name">Hunter Name</label>
        <input type="text" id="Name" name="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label for="SquadId">Select Squad</label>
        <select id="SquadId" name="SquadId" class="form-control">
            <option value="">None</option>
            @foreach (var squad in ViewBag.Squads as SelectList)
            {
                <option value="@squad.Value">@squad.Text</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Create Hunter</button>
</form>