@model StalkAndStrikeApp.Models.Hunter

<h2>Delete Hunter</h2>

<h4>Are you sure you want to delete this hunter?</h4>
<div>
    <h5>@Model.Name</h5>
    <p>License Number: @Model.LicenseNumber</p>
    <p>Squad: @Model.Squad?.Name</p>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>